<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- check windows display settings -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- OpenGraph -->
    <meta property="og:type" content="website"> <!-- 웹페이지 타입(blog, website 등) -->
    <meta property="og:title" content="ON FAIRBITION"> <!-- 웹사이트 이름 -->
    <meta property="og:url" content=""> <!-- 웹페이지 URL -->
    <meta property="og:image" content=""> <!-- 표시되는 이미지(썸네일느낌, 최소 600*315px, 1200*630 권장.) -->
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:description" content=""> <!-- 웹페이지 설명 -->

    <title>최최최최종</title>

    <!-- Favicon -->
    <link rel="SHORTCUT ICON" href="image/favicon"> <!-- 16*16 -->
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/font.css">
    <link rel="stylesheet" type="text/css" href="../css/page01.css">
</head>

<body>

    <!-- 헤더 영역 -->
    <header>

        <!-- 로고(s) -->
        <div class="logo">
            <a href="#">
                <p><span style="color: #e1ff2d;">ON </span>FAIRBITION</p>
            </a>
        </div>
        <!-- 로고(e) -->
        <nav>

            <!-- 검색창(s) -->
            <div class="searchbox"></div>
            <!-- 검색창(e) -->

            <!-- 버거메뉴(s) -->
            <div class="burger">
                <div id="myNav" class="burger_menu">
                    <!-- 햄버거 메뉴 클로즈 버튼 -->
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <!-- 메뉴화면 -->
                    <div class="menu_page">
                        <!-- 왼쪽 롤링 텍스트 -->
                        <div class="rolling_text">
                            <p class="first_parallel"></p>
                        </div>

                        <div class="category">
                            <!-- menu img -->
                            <div class="menu_img">
                                <img src="img/alphabet_A.png" alt="alphabet_a" class="alphabet_a">
                                <img src="img/alphabet_E.png" alt="alphabet_e" class="alphabet_e">
                                <img src="img/alphabet_F.png" alt="alphabet_f" class="alphabet_f">
                                <img src="img/alphabet_O.png" alt="alphabet_o" class="alphabet_o">
                            </div>

                            <!-- 이미지 아래 선 -->
                            <div class="menu_line"></div>

                            <!-- about -->
                            <div class="menu_about">
                                <ul>
                                    <li><a href="#"
                                            style="color: #E1FF2D; font-family: LeferiPoint-Black; letter-spacing: 1px; font-size: 22px;">About</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- exhibition -->
                            <div class="menu_exhi">
                                <ul>
                                    <li><a href="#"
                                            style="color: #FF4F33; font-family: LeferiPoint-Black; letter-spacing: 1px; font-size: 22px;">Exhibition</a>
                                    <li><a href="#">전시중</a></li>
                                    <li><a href="#">전시예정</a></li>
                                    <li><a href="#">전시종료</a></li>
                                    <li><a href="#">무료전시</a></li>
                                    <li><a href="#">어린이전시</a></li>
                                </ul>
                            </div>
                            <!-- fair&expo -->
                            <div class="menu_fair">
                                <ul>
                                    <li><a href="#"
                                            style="color: #19FC67; font-family: LeferiPoint-Black; letter-spacing: 1px; font-size: 22px;">Fair&Expo</a>
                                    <li><a href="#">진행중</a></li>
                                    <li><a href="#">진행예정</a></li>
                                    <li><a href="#">진행종료</a></li>
                                    <li><a href="#">사전등록중</a></li>
                                </ul>
                            </div>
                            <!-- online -->
                            <div class="menu_online">
                                <ul>
                                    <li><a href="#"
                                            style="color: #336DFF; font-family: LeferiPoint-Black; letter-spacing: 1px; font-size: 22px;">Online</a>
                                    <li><a href="#">전시회</a></li>
                                    <li><a href="#">박람회</a></li>
                                    <li><a href="#">진행중</a></li>
                                    <li><a href="#">진행예정</a></li>
                                    <li><a href="#">진행종료</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 햄버거메뉴 오픈 버튼 -->
                <span class="menu_icon" onclick="openNav()"> &#9776;</span>
            </div>
            <!-- 버거메뉴(e) -->
        </nav>
    </header>

    <main>
        <!-- 메인 슬라이드(s) -->
        <section class="main_container">

            <div class="item_slider_left">
                <div class="prev">
                    <div class="prev_line01"></div>
                    <div class="prev_line02"></div>
                    <div class="prev_text">PREV</div>
                </div>
            </div>

            <div class="slider">
                <div class="slide_contents">
                    <div class="slides">
                        <!-- 슬라이드01 -->
                        <div class="slide" id="slide-01">
                            <h1>
                                ON FAIRBITION
                                <span class="slide-pointtext-01">ON FAIRBITION</span>
                                ON FAIRBITION
                            </h1>
                            <a href="#">스크롤다운</a>
                        </div>

                        <!-- 슬라이드02 -->
                        <div class="slide" id="slide-02">
                            <h1 style="letter-spacing:0.2em; margin-right:-0.2em;">
                                EXHIBITION
                                <span class="slide-pointtext-02">EXHIBITION</span>
                                EXHIBITION
                            </h1>
                            <a href="#"><span>전시</span> 확인하기</a>
                        </div>

                        <!-- 슬라이드03 -->
                        <div class="slide" id="slide-03">
                            <h1 style="letter-spacing:0.2em; margin-right:-0.2em;">
                                FAIR&EXPO
                                <span class="slide-pointtext-03">FAIR&EXPO</span>
                                FAIR&EXPO
                            </h1>
                            <a href="#"><span>전시</span> 확인하기</a>
                        </div>

                        <!-- 슬라이드04 -->
                        <div class="slide" id="slide-04">
                            <h1 style="letter-spacing: 0.45em; margin-right: -0.45em;">
                                ON-LINE
                                <span class="slide-pointtext-04">ON-LINE</span>
                                ON-LINE
                            </h1>
                            <a href="#"><span>전시</span> 확인하기</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide_btn">
                <div class="slide_btn_right">
                    <button type="button" class="slide_btn1"></button>
                    <button type="button" class="slide_btn2"></button>
                    <button type="button" class="slide_btn3"></button>
                    <button type="button" class="slide_btn4"></button>
                </div>
                <div class="slide_btn_left">
                    <button type="button" class="slide_btn1_2"></button>
                    <button type="button" class="slide_btn2_2"></button>
                    <button type="button" class="slide_btn3_2"></button>
                    <button type="button" class="slide_btn4_2"></button>
                </div>
            </div>

            <div class="item_slider_right">
                <div class="next">
                    <div class="next_line01"></div>
                    <div class="next_line02"></div>
                    <div class="next_text">NEXT</div>
                </div>
            </div>

        </section>
        <!-- 메인 슬라이드(e) -->

        <!-- 컨텐츠1_핫한전시(s) -->
        <section class="main_sect1"></section>
        <!-- 컨텐츠1_핫한전시(e) -->

        <!-- 컨텐츠2_인기박람회(s) -->
        <section class="main_sect2"></section>
        <!-- 컨텐츠2_인기박람회(e) -->

        <!-- 컨텐츠3_뉴스(s) -->
        <section class="main_sect3"></section>
        <!-- 컨텐츠3_뉴스(e) -->

        <!-- 컨텐츠4_Social(s) -->
        <section class="main_sect4"></section>
        <!-- 컨텐츠4_Social(e) -->
    </main>

    <!-- 푸터 영역 -->
    <footer></footer>

</body>
<!-- Javascript -->

<!-- search -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<!-- burger-->
<script type="text/javascript" src="script.js"></script>

</html>


<!-- [x]  reset 적용해보기 -->
<!-- [x]  <header>로고<nav>검색창, 햄버거메뉴(사이드메뉴)<main>슬라이드<section><article><footer>address -->
<!-- [x]  header table → flex로 변경 -->
<!-- [ ]  메인페이지 컨텐츠1~4 <h1><h2>으로 수정 -->
<!-- [ ]  메인 슬라이드 <h1> “폰트사이즈”로 수정 -->
<!-- [ ]  메인 슬라이드 정리 -->
<!-- [ ]  메인 컨텐츠 코딩 마무리하기 -->
