@font-face {
    font-family: 'LeferiPoint-BlackA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* @import "reset.css"; */

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* body */
body {
    background-color: #232323;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    /* max-height: 1080px; */
    font-family: 'SUIT-Light';
    overflow: hidden;
}

/* header */
.header {
    width: 100%;
    height: 80px;
    display: block;
    /* 한 줄 모두 차지 */
}

/* logo */
.logo {
    /*  background: orange; */
    width: 50%;
    height: 100%;
    display: table;
    float: left;
    padding: 40px 0 0 80px;
}

.logo a {
    text-decoration-line: none;
    text-decoration: none;
}

.logo h1 {
    color: #fff;
    /* vertical-align: bottom; */
    display: table-cell;
    font-family: 'LeferiPoint-BlackA';
    font-size: 25px;
    font-weight: 200;
}

/* nav */
.nav {
    /* background-color: yellow; */
    width: 50%;
    height: 100%;
    display: table;
    float: right;
    padding-right: 80px;
}

/* 검색 */
.searchBox{
    position: relative;
    width: 40px;
    height: 40px;
    float: right;
    margin-top: 32px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: 0.5s;
    /* background: red; */
}

.searchBox:hover{
    width: 300px;
    border-bottom: 1.5px solid #fff;
}

/* .searchBox::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background: #232323;
    z-index: 1;
}

.searchBox::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: #232323;
    z-index: 1;
} */

.searchBox input{
    position: relative;
    width: 100%;
    height: 100%;
    border:none;
    padding: 10px 20px;
    outline: none;
    font-size: 1.1em;
    color: #555;
    background: #232323;
}

.searchBox input::placeholder,
.searchBox input{
    color: transparent;
}

.searchBox:hover input::placeholder,
.searchBox:hover input{
    color: #555;
}

ion-icon{
    font-size: 32px;
    color: #fff;
    cursor: pointer;
    display: block;
    position: absolute;
    right: 5px;
    transform: translateX(-0%) translateY(-0%);
}

/* 메뉴 */
.burger {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #232323;
    margin-top: 30px;
    float: right;
}

.menu_icon {
    font-size: 35px;
    color: #fff;
    cursor: pointer;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-6%);
}

.category ul {
    list-style: none;
}

.category li {
    margin-top: 3px;
}

.burger_menu {
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #1A1A1A;
    overflow-y: hidden;
    transition: 0.5s;
}

.burger_menu a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.burger_menu a:hover, .burger_menu a:focus {
    color: #f1f1f1;
}

.burger_menu .closebtn {
    position: absolute;
    top: 20px;
    right: 75px;
    font-size: 40px;
    z-index: 7;
}

@media screen and (max-height: 450px) {
    .burger_menu a {
        font-size: 20px
    }

    .burger_menu .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.menu_page {
    width: 100%;
    position: relative;
}

.rolling_text {
    width: 1080px;
    height: 460px;
    position: absolute;
    left: -250px;
    font-family: LeferiPoint-BlackA;
    color: #1A1A1A;
    font-size: 120px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    transform: rotate(-90deg);
    z-index: 5;
}

.category {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: SUIT-Light;
}

/* menu_about */
.menu_about {
    width: 300px;
    height: 1080px;
    position: absolute;
    left: 460px
}

.alphabet_A {
    width: auto;
    height: 480px;
    position: absolute;
    top: 30px;
    left: -180px;
    font-family: LeferiPoint-BlackA;
    font-size: 450px;
    background: linear-gradient(-90deg, #E1FF2D 50%, #1A1A1A 50%);
    background-clip: text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    z-index: 4;
}

.about_sub {
    font-size: 20px;
    width: 200px;
    height: 370px;
    position: absolute;
    top: 630px;
    left: 10px;
}

/* menu_exhi css */
.menu_exhi {
    width: 300px;
    height: 1080px;
    position: absolute;
    left: 820px
}

.alphabet_E {
    width: auto;
    height: 480px;
    position: absolute;
    top: 30px;
    left: -125px;
    font-family: LeferiPoint-BlackA;
    font-size: 450px;
    background: linear-gradient(-90deg, #FF4F33 62%, #1A1A1A 38%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    z-index: 3;
}

.exhi_sub {
    font-size: 20px;
    width: 200px;
    height: 370px;
    position: absolute;
    top: 630px;
    left: 10px;
}

/* menu_fair css */
.menu_fair {
    width: 300px;
    height: 1080px;
    position: absolute;
    left: 1180px
}

.alphabet_F {
    width: auto;
    height: 480px;
    position: absolute;
    top: 30px;
    left: -117px;
    font-family: LeferiPoint-BlackA;
    font-size: 450px;
    background: linear-gradient(-90deg, #19FC67 62%, #1A1A1A 38%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    z-index: 2;
}

.fair_sub {
    font-size: 20px;
    width: 200px;
    height: 370px;
    position: absolute;
    top: 630px;
    left: 10px;
}

/* menu_online css */
.menu_online {
    width: 300px;
    height: 1080px;
    position: absolute;
    left: 1540px
}

.alphabet_O {
    width: auto;
    height: 480px;
    position: absolute;
    top: 30px;
    left: -208px;
    font-family: LeferiPoint-BlackA;
    font-size: 450px;
    background: linear-gradient(-90deg, #336DFF 50%, #1A1A1A 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    z-index: 1;
}

.online_sub {
    font-size: 20px;
    width: 200px;
    height: 370px;
    position: absolute;
    top: 630px;
    left: 10px;
}

.menu_line {
    width: 1620px;
    height: auto;
    position: absolute;
    top: 575px;
    right: 0px;
    border: 1px 0px 0px 0px solid #A1A1A1;
    z-index: 6;
}

















/* main */
:root {
    --slide-1-link: #E1FF2D;
    --slide-2-link: #FF4F33;
    --slide-3-link: #19FC67;
    --slide-4-link: #336DFF;
}

.main {
    width: 100%;
    height: 900px;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-around;
}

.item_slider_left {
    background: blueviolet;
    flex-basis: 15%;
    height: 100%;
}

.prev{
    position:relative;
    width: 220px;
    height: 100%;
    top: 450px;
}

.prev_line01{
    width: 80px;
    height: 1px;
    position: absolute;
    top: 1px;
    background-color: #fff;
}

.prev_line02{
    width: 55px;
    height: 3px;
    position: absolute;
    left: 80px;
    background-color: #fff;
}

.prev_text{
    position: absolute;
    top: 15px;
    left: 80px;
    width: 55px;
    color: #fff;
    text-align: center;
    font-family: 'SUIT-Light';
}

/* slide */
.item_slider {
    /* background: orange; */
    /* position: absolute; */
    width: 1480px;
    height: 100%;
    flex-basis: 70%;
}

.slider {
    position: absolute;
    margin-top: 80px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 0;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s cubic-bezier(0.85, 0, 0.15, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px 80px;
}

.slide-content {
    width: 1320px;
    top: 624px;
    align-items: center;
    /* margin-bottom: 180px; */
}

#slide-01 {
    background-color: var(--slide-1-bg);
    left: 0;
}

#slide-02 {
    background-color: var(--slide-2-bg);
    left: 100%;
}

#slide-03 {
    background-color: var(--slide-3-bg);
    left: 200%;
}

#slide-04 {
    background-color: var(--slide-4-bg);
    left: 300%;
}

#slide-radio-1:checked~.slide {
    transform: translateX(0);
}

#slide-radio-2:checked~.slide {
    transform: translateX(-100%);
}

#slide-radio-3:checked~.slide {
    transform: translateX(-200%);
}

#slide-radio-4:checked~.slide {
    transform: translateX(-300%);
}

.slider input {
    display: none;
}

.pagination {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 6rem;
    z-index: 1;
}

.slide h1 {
    width: 100%;
    height: 612px;
    font-family: 'LeferiPoint-BlackA';
    text-transform: uppercase;  /* 대문자로 변경 */
    font-weight: 800;  /* 폰트굵기 */
    font-size: 150px;
    line-height: 200px;  /* 줄간격 */
    text-align: center;
    letter-spacing: 1px;  /* 자간 */

    -webkit-text-fill-color: #232323;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}

.slide-pointtext-01 {
    -webkit-text-fill-color: #E1FF2D;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #232323;
}

.slide-pointtext-02 {
    -webkit-text-fill-color: #FF4F33;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #232323;
}

.slide-pointtext-03 {
    -webkit-text-fill-color: #19FC67;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #232323;
}

.slide-pointtext-04 {
    -webkit-text-fill-color: #336DFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #232323;
}

/* link */
.slide a {
    display: inline-block;
    color: #fff;
    font-weight: 300;
    font-family: 'SUIT-Light';
    letter-spacing: 1px;
    font-size: 16px;
    /* padding: 16px 32px;
    border-radius: 50px;
    border: 1px solid #232323; */
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.slide a::after {
    content: "";
    display: block;
    width: 50px;
    border-bottom: 2px solid #fff;
    margin: -40px auto;
}

.slide a span {
    font-family: 'SUIT-SemiBold';
}

/* button */
#slide-01 a:hover {
    color: #E1FF2D;
    border-radius: 30px;
    border-color: #E1FF2D;
    border: 1px solid;
    padding: 20px 20px;
}

#slide-02 a:hover {
    color: #FF4F33;
    border-radius: 30px;
    border-color: #FF4F33;
    border: 1px solid;
    padding: 20px 20px;
}

#slide-03 a:hover {
    color: #19FC67;
    border-radius: 30px;
    border-color: #19FC67;
    border: 1px solid;
    padding: 20px 20px;
}

#slide-04 a:hover {
    color: #336DFF;
    border-radius: 30px;
    border-color: #336DFF;
    border: 1px solid;
    padding: 20px 20px;
}


#slide-radio-1:checked~.pagination label:nth-child(1),
#slide-radio-2:checked~.pagination label:nth-child(2),
#slide-radio-3:checked~.pagination label:nth-child(3),
#slide-radio-4:checked~.pagination label:nth-child(4) {
    opacity: 0.8;
}

#slide-radio-1:checked~.pagination label:nth-child(1)::after,
#slide-radio-2:checked~.pagination label:nth-child(2)::after,
#slide-radio-3:checked~.pagination label:nth-child(3)::after,
#slide-radio-4:checked~.pagination label:nth-child(4)::after {
    opacity: 1;
}

.pagination label {
    width: 24px;
    height: 24px;
    padding: 16px;
    opacity: 0.3;
    cursor: pointer;
    position: relative;
    transition: opacity, 0.3s ease-in-out;
    color: #fff;
}


.pagination label::before,
.pagination label::after {
    content: '';
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pagination label::before {
    width: 8px;
    height: 8px;
    background: #fff;
}

.pagination label::after {
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    opacity: 0;
}

.item_slider_right {
    background: olive;
    flex-basis: 15%;
    height: 100%;
}


.next{
    position:relative;
    width: 220px;
    height: 100%;
    top: 450px;
}

.next_line01{
    width: 55px;
    height: 3px;
    position: absolute;
    left: 155px;
    background-color: #fff;
}

.next_line02{
    width: 80px;
    height: 1px;
    position: absolute;
    top: 1px;
    left: 210px;
    background-color: #fff;
}

.next_text{
    position: absolute;
    top: 15px;
    left: 155px;
    width: 55px;
    color: #fff;
    text-align: center;
    font-family: 'SUIT-Light';
}





.main-content01 {
    position: relative;
    display: block;
    width: 100%;
    height: 870px;
    background-color: red;
    margin: 0 80px;
}

.main-content02{
    display: block;
    width: 100%;
    height: 615px;
    background-color: green;
}

.main-content03{
    display: block;
    width: 100%;
    height: 770px;
    background-color: blue;
}
.main-content04{
    display: block;
    width: 100%;
    height: 1160px;
    background-color: orange;
}